---
import Layout from "../../layouts/Layout.astro";
import { Image } from "astro:assets";
import NavSpacer from "../../components/NavSpacer.astro";

const images = await Astro.glob("../../gallery/*/**.jpg");

const folderStructure: string[] = ["indigo", "pkm"];

function hasFileName(stringToCheck: string, stringToFind: string): boolean {
  return stringToCheck.includes(stringToFind);
}
---

<Layout title="Welcome to Lunar Interactive">
  <NavSpacer />
  <main class="relative">
    {
      folderStructure.map((folder) => (
        <div class="flex gap-4 flex-col m-4">
          <h1
            title={folder}
            class="text-4xl text-center font-bold uppercase text-white "
          >
            {folder}
          </h1>
          <div class="grid grid-cols-2 sm:grid-cols-3 xl:grid-cols-4 gap-3 place-items-center">
            {images.map((image) => {
              if (hasFileName(image.default.src, folder)) {
                return (
                  <div class="rounded-xl group overflow-hidden shadow-lg shadow-slate-300/0  hover:shadow-slate-300/15 duration-300">
                    <Image
                      src={image.default}
                      class="h-full blur-sm transition-all duration-[0.4s] group-hover:blur-none rounded-xl "
                      alt="rawr"
                    />
                  </div>
                );
              }
            })}
          </div>
        </div>
      ))
    }
  </main>
</Layout>
