---
import Stats from "../components/Stats.astro";
import Features from "../components/Features.astro";
import HeroSection from "../components/HeroSection.astro";
import Layout from "../layouts/Layout.astro";
import Crew from "../components/Crew.astro";
import CallToAction from "../components/CallToAction.astro";
import Blog from "../components/Blog.astro";
---

<Layout title="Welcome to Lunar Interactive">
	<main class="space-y-40 mb-40">
		<div class="space-y-32">
			<HeroSection />
			<Crew />
			<Blog />
			<!-- <img
				src="./images/background.jpg"
				class="absolute top-0 left-0 z-0 inset-0 object-cover w-full h-full"
			/> -->
			<!-- <CallToAction /> -->
		</div>
	</main>
</Layout>
