---
import Stats from "../components/Stats.astro";
import Features from "../components/Features.astro";
import HeroSection from "../components/HeroSection.astro";
import Layout from "../layouts/Layout.astro";
import Crew from "../components/Crew.astro";
import CallToAction from "../components/CallToAction.astro";
import Blog from "../components/Blog.astro";
---

<head>
	<meta
		name="google-site-verification"
		content="0YJ08CWinvTsg_mZ8GjrwO1AOUHtB7viehR5aGIl7Iw"
	/>
</head>
<Layout title="Welcome to Lunar Interactive">
	<main class="space-y-40 mb-40">
		<div class="space-y-32">
			<HeroSection />
			<Crew />
			<Blog />
		</div>
	</main>
</Layout>
