---
import Container from "./Container.astro";

const contacts = [
  {
    name: "Instagram",
    class: "fa-brands fa-instagram",
    link: "https://www.instagram.com/lunarinteractive/",
  },
  {
    name: "Email",
    class: "fa-solid fa-envelope",
    link: "mailto:dev.lunarinteractive@gmail.com",
  },
  {
    name: "WhatsApp",
    class: "fa-brands fa-whatsapp",
    link: "http://wa.me/628997099641",
  },
];
---

<footer class="py-5">
  <Container>
    <div class="w-full">
      <ul role="list" class="flex mx-auto space-x-4 flex-row items-center">
        {
          contacts.map((contact) => (
            <li class="">
              <a
                href={contact.link}
                target="_blank"
                class="flex items-center space-x-3 transition hover:text-primary"
              >
                <i class={contact.class} />
                <span>{contact.name}</span>
              </a>
            </li>
          ))
        }
      </ul>
      <!-- <div
          class=""
        >
          <span class="block text-gray-500 dark:text-gray-400"
            >- sincerely CTO</span
          >
        </div>  -->
    </div>
  </Container>
</footer>
