---
import Container from "./Container.astro";
import Person from "./Person.astro";

const People = [
  {
    name: "Moses Dimas Ahimsa",
    role: "Chief Executive Officer",
    path: "./images/avatars/Kak Dimas-01.png",
    desc: "It all start with a single step",
  },
  {
    name: "Obed Bari Tredouna",
    role: "Chief Technology Officer",
    path: "./images/avatars/Obed-01.png",
    desc: "Shoot for the moon. Even if you miss. You will land among the stars.",
  },
  {
    name: "Septiani Rahayu",
    role: "Chief Financial Officer",
    path: "./images/avatars/Kak Sera-01.png",
    desc: "Do everything to the max",
  },
  {
    name: "Melati Semeru",
    role: "Conceptor and 2D Artist",
    path: "./images/avatars/Melati-01.png",
    desc: "In every moment, everything exists, and yet the nothing remains undiscovered.",
  },
  {
    name: "Muhammad Fatham Mahabbah Haqiqi",
    role: "Programmer",
    path: "./images/avatars/fatham-01.png",
    desc: "Hidup itu tempe, tidak ada yang tahu",
  },
  {
    name: "Ayra Asha Kailani",
    role: "Conceptor",
    path: "./images/avatars/Ayra-01.png",
    desc: "Remember to live while you're busy surviving",
  },
];
---

<div class="text-gray-600 dark:text-gray-300 z-30" id="testimonials">
  <Container>
    <div class="mb-20 space-y-4 px-6 md:px-0 text-center z-30">
      <h2
        class="text-3xl font-bold text-gray-800 md:text-4xl z-30 dark:text-white"
      >
        From Idea to Impact: Our Successful Collaboration
      </h2>
      <p class="lg:mx-auto lg:w-6/12 text-gray-600 z-30 dark:text-gray-300">
        Laying the Groundwork for Success: A Step-by-Step Look at Our
        Collaborative Process
      </p>
    </div>
    <div class="gap-8 grid lg:grid-cols-2 sm:grid-cols-1 z-30 grid-rows-2">
      {People.map((person) => <Person person={person} />)}
    </div>
  </Container>
</div>
