---
import Container from "./Container.astro";
import Person from "./Person.astro";

const People = [
  {
    name: "Moses Dimas Ahimsa",
    role: "Chief Executive Officer",
    path: "./images/avatars/Kak Dimas-01.png",
    desc: "It all start with a single step",
  },
  {
    name: "Obed Bari Tredouna",
    role: "Chief Technology Officer",
    path: "./images/avatars/Obed-01.png",
    desc: "Shoot for the moon. Even if you miss. You will land among the stars.",
  },
  {
    name: "Septiani Rahayu",
    role: "Chief Financial Officer",
    path: "./images/avatars/Kak Sera-01.png",
    desc: "Do everything to the max",
  },
  {
    name: "Melati Semeru",
    role: "Conceptor and 2D Artist",
    path: "./images/avatars/Melati-01.png",
    desc: "In every moment, everything exists, and yet the nothing remains undiscovered.",
  },
  {
    name: "Muhammad Fatham Mahabbah Haqiqi",
    role: "Programmer",
    path: "./images/avatars/fatham-01.png",
    desc: "Hidup itu tempe, tidak ada yang tahu",
  },
  {
    name: "Ayra Asha Kailani",
    role: "Conceptor",
    path: "./images/avatars/Ayra-01.png",
    desc: "Remember to live while you're busy surviving",
  },
];
---

<div class="text-gray-300 z-30 overflow-hidden rounded-tr-3xl" id=" ">
  <Container>
    <div class="mb-20 px-6 md:px-0 text-center z-30">
      <h2 class="text-3xl font-bold md:text-4xl z-30 text-white">
        From the moonscape: Introducing Our Steller Squad
      </h2>
      <p class="lg:mx-auto lg:w-6/12 text-gray-600 z-30 dark:text-gray-300">
        Ready for Launch! Meet the Visionary Astronauts Who Will Take You There
      </p>
    </div>
    <div class="gap-8 grid md:grid-cols-3 sm:grid-cols-2 z-30 grid-rows-2">
      {People.map((person) => <Person person={person} />)}
    </div>
  </Container>
</div>
